html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
    width: 100%;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    display: flex;
    justify-content: space-between;
}

ul>div {
    width: 20%;
    margin-left: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

ul>li:last-child {
    margin-right: 2%;
}

li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.active {
    background-color: brown;
}

li a:hover {
    background-color: lightgrey;
}

.card {
    width: 10vw;
}

div>div>div:not(:last-child) {
    height: 100%;
}

img>.unknown {
    width: 10%;
}

div>figure {
    height: 100%;
}
#playerSide, #dealerSide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#playerSideDiv, #dealerSideDiv{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#playerScoreDiv, #dealerScoreDiv{
    width: 20%;
}
#playerScoreDiv>p, #dealerScoreDiv>p{
    width: 80%;
}