html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
header{
    padding: 0;
    margin: 0;
    width: 100%;
}
ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    display: flex;
    justify-content: space-between;
}
ul > div{
    width: 20%;
    margin-left: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
ul>li:last-child{
    margin-right: 2%;
}
li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.active{
    background-color: brown;
}
li a:hover{
    background-color: lightgrey;
}
.card{
    width: 5%;
    height: 5%;
}
.playerSide{
    background-color: aqua;
}
.playerSide, .dealerSide{
    display: flex;
}